@page "/product/list"
    <!-- Ruta pagina enrutar en NavMenu.razor-->


<!-- Navegacion a crear producto -->
<hr />
<a href="product/create"> Crear Producto</a>

<hr />

<!-- Componenre de lista-->

<ListProductsComponent></ListProductsComponent>
