@page "/"
<!-- Enlazar a componente - carga parametro
<Format001 Message="Parametroprueba"> </Format001>

<Format001 Message="Parametroprueba2"> </Format001>
     -->
<!-- Enlazar a product componet o
<CreateProductComponent> </CreateProductComponent>

<ListProductsComponent></ListProductsComponent>
    -->

<h1>Sistema Inventario</h1>

<div class="Container-fluid">
    <p class="float-right">
        <span class="oi oi-target" style="font-size: 60px"></span>
    </p>
    <p class="h4">
        Inventario
    </p>

</div>